@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 { 
      color: LimeGreen ;
}

h2 {
      color: LawnGreen ;
}

h3 { 
      color: Lime ;
}
p {
      color:White;
}

body {
      background-color: Green;
      padding-top:70px;
      position: relative;
}
