@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 { 
      color: LimeGreen ;
}

h2 {
      color: LawnGreen ;
}

h3 { 
      color: Lime ;
}

h4 {
      color:Black;
}

p {
      color:White;
}

body {
      background-color: Green;
      padding-top:70px;
      position: relative;
}

#container 
{ 
   background:SeaGreen;
   position: relative 
} 

#navigation 
{ 
   position: absolute; 
   left: 30px; 
   top: 5px 
} 

img {
      max-width: 25%;
}

.navbar-default {
      background-color:Black;
      border-color:$bgHighlight;
}
