@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 { 
      color: Crimson ;
}

h2 {
      color: Crimson ;
}

h3 { 
      color: Crimson ;
}

h4 {
      color:Black;
}

p {
      color:Black
      font-size:15;
}

body {
      background-color: Maroon; 
      padding-top:70px;
      position: relative;
}

#container 
{ 
   position: relative 
} 

#navigation 
{ 
   position: absolute; 
   left: 30px; 
   top: 5px 
} 

.well {
      background:LightSalmon;
}
